html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}
body, input {
    font-family: 'Raleway', sans-serif;
}
body {
    color: #444444;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
header,
footer {
    flex: 0 1 auto;
}
header {
    background-color: #3d3b3a;
    min-height: 50px;
    box-sizing: border-box;
    padding: 5px 16px;
    text-align: right;
}
main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 0;
}
footer,
#users {
    border: 1px solid #DADADA;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-width: 1px 0 0 0;
    min-height: 40px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#messages,
#users {
    overflow-x: hidden;
    overflow-y: auto;
}
#messages-pane {
    position: relative;
    flex: 7 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
#messages {
    padding: 8px 0 32px 0;
    position: relative;
    flex-grow: 1;
}
#users {
    border-width: 0 0 0 1px;
    background-color: #EAEAEA;
    flex: 3 1 auto;
    min-width: 30%;
    padding: 8px 0;
}
#messages li {
    display: none;
}
#messages .message {
    padding: 4px 16px 4px 16px;
    position: relative;
    white-space: nowrap;
}
#messages .message.message-first {
    padding-top: 16px;
}
.localuser-name {
    color: #EAEAEA;
    font-size: 16px;
    font-weight: 700;
    margin-right: 16px;
}
.clear {
    clear: both;
}
.message {
    text-align: left;
}
.message.incoming {
    text-align: right;
}
.message-author {
    margin: 8px 66px 4px 0;
    font-weight: 700;
    font-size: 1em;
}
.avatar {
    color: #FFFFFF;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    background: #444444;
    position: absolute;
}
.localuser-avatar {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 14px;
    position: relative;
    background-color: #888;
}
.message-avatar {
    height: 40px;
    width: 40px;
    line-height: 40px;
}
.message.incoming .avatar {
    right: 16px;
}
.message-text {
    background-color: #E5E5E5;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 16px;
    border-radius: 20px;
    line-height: 20px;
    padding: 10px 16px;
    margin: 0 0 0 48px;
    max-width: 70%;
    white-space: normal;
    color: #FFFFFF;
}
.message.incoming .message-text{
    color: #444444;
    margin: 0 48px 0 0;
    float: right;
}
.message-time {
    margin: 0 0 0 8px;
    font-size: 0.9em;
    color: #888;
}
.message.incoming .message-time {
    margin: 0 8px 0 0;
    line-height: 100%;

}
.notification {
    text-align: center;
    padding: 8px 0;
}
.user {
    display: none;
    position: relative;
    padding: 4px 16px;
}
.user-avatar {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 16px;
}
.user-name {
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 50px;
    margin: 0 0 0 60px;
}
#typing {
    display: none;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    color: #EAEAEA;
    padding: 8px 16px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
form {
    flex: 1 1 auto; position: relative
}
#message-input {
    height: 40px;
    width: 100%;
    right: 0px;
    left: 0;
    display: block;
    font-size: 14px;
    border: 0;
    padding: 0 86px 0 16px;
    outline: 0;
    box-sizing: border-box;
}
#send-button {
    position: absolute;
    border: 0;
    background: #3d3b3a;
    color: white;
    font-size: 15px;
    width: 70px;
    height: 40px;
    top: 0;
    right: 0;
    outline: 0;
}
#unread {
    position: absolute;
    display: inline-block;
    background: #444;
    padding: 10px;
    color: #EAEAEA;
    border-radius: 20px;
    text-decoration: none;
    bottom: -40px;
    left: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 720px) {
    #users {
        display: none;
    }
    #typing {
        width: 100%;
    }
}
/* The animation code */
@keyframes example {
    from { opacity: 1;}
    50% {opacity: 0.3}
    to { opacity: 1 }
}

/* The element to apply the animation to */
.unread-animation {
    animation-timing-function: ease-in;
    animation-name: example;
    animation-duration: 2s;
}